---
version: '3.4'
services:
  benchmarker:
    build: 
      context: ./benchmarker
      dockerfile: Dockerfile
    command: >
      /app/benchmarker ann-benchmark
      --vectors ${DATASET:-./datasets/dbpedia-100k-openai-ada002-angular.hdf5 }
      --distance ${DISTANCE:-cosine}
      --grpcOrigin ${GRPC_ORIGIN:-weaviate:50051}
      --httpOrigin ${HTTP_ORIGIN:-weaviate:8080}
    volumes:
      - $PWD/datasets:/app/datasets
      - $PWD/results:/app/results
  weaviate:
    command:
    - --host
    - 0.0.0.0
    - --port
    - '8080'
    - --scheme
    - http
    image: docker.io/semitechnologies/weaviate:1.27.1
    ports:
      - 8080:8080
      - 50051:50051
      - 2112:2112
    restart: on-failure:0
    volumes:
    - "$PWD/weaviate-data:/var/lib/weaviate"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      PROMETHEUS_MONITORING_ENABLED: 'true'
      ENABLE_MODULES: ''
      CLUSTER_HOSTNAME: 'benchmark_node'
...
